@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    font-family: var(--font-title);
    font-weight: 700;
}

h1{
    font-family: var(--font-heading);
    font-weight: 600;
}

p {
    font-family: var(--font-poppins);
    font-weight: 500;
}

.txt{
    font-family: var(--font-roboto);
    font-weight: 400;
    
}